<body>
	<th:block th:include="thymeleaf/include/header"></th:block>
	<div class="container-fluid bg-dk">
		<h1 class="h3 mb-2 text-secondary">
			GROUP 관리<i class="fas fa-chevron-right mr-2 ml-2"></i> <b class="text-white">GROUP - PROJECT 설정 로그</b>
		</h1>
		<p class="mb-4">프로젝트 설정 로그를 볼 수 있습니다</p>
	</div>
	<div id="content">
		<div class="container-fluid">
			<div class="card shadow mb-4 bg-nv">
				<div class="card-header py-3 bg-nv">
					<h6 class="m-0 font-weight-bold text-white">프로젝트 설정 로그</h6>
				</div>
				<div class="card-body bg-nv rounded-bottom">
					<div class="table-responsive">
						<table class="table text-secondary" id="companyProjectHistoryTables" width="100%" cellspacing="0">
							<thead>
								<tr class="bg-nv text-white">
									<th>번호</th>
									<th>GROUP</th>
									<th>프로젝트</th>
									<th>유효성</th>
									<th>등록 계정</th>
									<th>등록 일자</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:include="thymeleaf/include/footer"></th:block>
	<script type="text/javascript" src="/js/company/history.js"></script>
	<script src="/js/include/tables.js"></script>
</body>
