<body>
	<th:block th:include="thymeleaf/include/header"></th:block>
	<div class="container-fluid full-height">
		<h1 class="h3 mb-2 text-secondary">
			관리자 메뉴<i class="fas fa-chevron-right mr-2 ml-2"></i> <b class="text-white">DB 정보 로그</b>
		</h1>
		<p class="mb-4">DB 정보 로그를 확인할 수 있습니다</p>
		<div class="card shadow mb-4 bg-nv">
			<div class="card-header py-3 bg-nv">
				<h6 class="m-0 font-weight-bold text-white">DB 정보 로그</h6>
			</div>
			<div class="card-body bg-nv rounded-bottom">
				<div class="table-responsive">
					<table class="table display nowrap text-secondary hover" id="db_history_tables" width="100%" cellspacing="0">
						<thead>
							<tr class="bg-nv text-white">
								<th>번호</th>
								<th>DB 서비스 이름</th>
								<th>DB 타입</th>
								<th>DB 내부 IP</th>
								<th>DB 내부 PORT</th>
								<th>DB 외부 IP</th>
								<th>DB 외부 PORT</th>
								<th>변경 계정</th>
								<th>활동</th>
								<th>등록 일자</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<th:block th:include="thymeleaf/include/footer"></th:block>
	<script type="text/javascript" src="/js/admin/dbHistory.js"></script>
</body>