<body>
	<th:block th:include="thymeleaf/include/header"></th:block>
	<div class="container-fluid full-height">
		<h1 class="h3 mb-2 text-secondary">
			관리자 메뉴 <i class="fas fa-chevron-right mr-2 ml-2"></i> DB 정보 목록<i class="fas fa-chevron-right mr-2 ml-2"></i><b class="text-white">DB 정보 변경</b>
		</h1>
		<p class="mb-4">DB에 대한 정보 변경을 수행할 수 있습니다</p>
		<div class="card shadow mb-4 bg-nv">
			<div class="card-header py-3 bg-nv">
				<div class="row">
					<div class="col-xl-2">
						<span class="m-0 font-weight-bold text-white">DB 정보 변경</span>
					</div>
					<div class="col-xl-4">
						<span><b class="text-danger mr-1">*</b>표시는 필수항목입니다. </span>
					</div>
				</div>
			</div>
			<div class="card-body bg-nv rounded-bottom">
				<form>
					<div class="form-group row" style="display: none;">
						<label for="d_no" class="col-xl-2 col-form-label text-white mUpdate">번호</label>
						<div class="col-xl-5">
							<input type="text" name="db_no" class="form-control" id="d_no" th:value="${dbInfo?.getDb_no()}">
						</div>
					</div>
					<div class="form-group row">
						<label for="d_s_n" class="col-xl-2 col-form-label text-white mUpdate">DB 서비스 이름</label>
						<div class="col-xl-5">
							<input type="text" name="db_svc_name" class="form-control" id="d_s_n" th:value="${dbInfo?.getDb_svc_name()}" readonly="readonly"\>
						</div>
						<a href="#" class="help" style="color: red;">
							<i class="fas fa-exclamation-triangle"></i><span> 이름 변경 시 서비스지원이 불가능할 수 있습니다.</span>
						</a>
					</div>
					<div class="form-group row">
						<label for="d_t" class="col-xl-2 col-form-label text-white mUpdate"><b class="text-danger mr-1">*</b>DB 종류</label>
						<div class="col-xl-3">
							<input type="text" name="u_db_type_no" class="form-control" id="d_t" th:value="${dbInfo?.getDb_type_no()}">
						</div>
						<div class="col-xl-2">
							<select id="dbUpdateBox" name='dbType_list' class="form-control">
								<option value='default' selected>-- 선택 --</option>
								<option value="1">mariaDB</option>
								<option value="2">oracleDB</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label for="priv_i" class="col-xl-2 col-form-label text-white mUpdate"><b class="text-danger mr-1">*</b>서비스 IP</label>
						<div class="col-xl-5">
							<input type="text" name="db_priv_ip" class="form-control" id="priv_i" th:value="${dbInfo?.getDb_priv_ip()}">
						</div>
					</div>
					<div class="form-group row">
						<label for="priv_p" class="col-xl-2 col-form-label text-white mUpdate"><b class="text-danger mr-1">*</b>서비스 포트</label>
						<div class="col-xl-5">
							<input type="text" name="db_priv_port" class="form-control" id="priv_p" th:value="${dbInfo?.getDb_priv_port()}" maxlength="5">
						</div>
					</div>
					<div class="form-group row">
						<label for="pub_i" class="col-xl-2 col-form-label text-white mUpdate">외부 IP</label>
						<div class="col-xl-5">
							<input type="text" name="db_pub_ip" class="form-control" id="pub_i" th:value="${dbInfo?.getDb_pub_ip()}">
						</div>
					</div>

					<div class="form-group row">
						<label for="pub_p" class="col-xl-2 col-form-label text-white mUpdate">외부 포트 </label>
						<div class="col-xl-5">
							<input type="text" name="db_pub_port" class="form-control" id="pub_p" th:value="${dbInfo?.getDb_pub_port()}" maxlength="5">
						</div>
					</div>
					<div class="form-group row">
						<label for="d_i" class="col-xl-2 col-form-label text-white mUpdate"><b class="text-danger mr-1">*</b>DB 아이디</label>
						<div class="col-xl-5">
							<input type="text" name="db_id" class="form-control" id="d_i" th:value="${dbInfo?.getDb_id()}">
						</div>
					</div>
					<div class="form-group row">
						<label for="d_pwd" class="col-xl-2 col-form-label text-white mUpdate"><b class="text-danger mr-1">*</b>DB 비밀번호</label>
						<div class="col-xl-5">
							<input type="password" name="db_passwd" class="form-control" id="d_pwd" th:value="${dbInfo?.getDb_passwd()}">
						</div>
					</div>
					<div class="form-group row">
						<label for="d_name" class="col-xl-2 col-form-label text-white mUpdate"><b class="text-danger mr-1">*</b>DB 이름</label>
						<div class="col-xl-5">
							<input type="text" name="db_name" class="form-control" id="d_name" th:value="${dbInfo?.getDb_name()}">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-xl-10">
							<input type="button" class="btn btn-primary" value="적용" id="updateBtn"> <input type="button" id="deleteBtn" class="btn btn-danger" value="삭제" /> <input type="button" id="UCBtn" class="btn btn-dark" value="취소" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<th:block th:include="thymeleaf/include/footer"></th:block>
	<script type="text/javascript" src="/js/admin/updateDB.js"></script>
	<script type="text/javascript" src="/js/admin/updateDBInfo.js"></script>
	<script type="text/javascript" src="/js/chart/cancel.js"></script>
</body>