<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>








<!-- <br/>------------------------------------------------------------------------------------------------------------------------<br/>
※ 로그인 상태 : JWT & Spring Security 활용<br/>
※ 모든 예외처리가 진행되지 않았음, 짧게 짧게 단위 테스트 진행 시 나오는 것들만 예외처리<br/>

<b>앞으로 할 것들---------------------------------------------------------------------------------<br/>
 <del>1) 아직 안보여준 뷰 구현 -> lic_state_history_tbl</del><br/>
 <del>2) 회원가입시 ID, ZONE 생성시 ZONE_NAME 중복검사</del><br/>
 <del>3) 유저 권한 별 사용 기능 제한</del><br/>
 4) DTO Validation and DTO 재정의(최종적으로 사용자에게 보여줄 데이터)<br/>
 5) CSS (BOOTSTRAP)<br/>
 6) HTTPS<br/>
 7) HMAC<br/>
 8) SQL Injection, CSRF, DB Connection 정보 암호화 등<br/>
 9) 간간히 버그수정 & 코드 정리</b> -->





</body>
</html>