<body>
	<th:block th:include="thymeleaf/include/header"></th:block>
	<div class="container-fluid full-height">
		<h1 class="h3 mb-2 text-secondary">
			PROJECT 관리<i class="fas fa-chevron-right mr-2 ml-2"></i> <b class="text-white">PROJECT 관리 로그</b>
		</h1>
		<p class="mb-4">PROJECT 로그를 확인할 수 있습니다</p>
		<div class="card shadow mb-4 bg-nv">
			<div class="card-header py-3 bg-nv">
				<span class="m-0 font-weight-bold text-white">PROJECT</span> <span class="ml-5"> <b class="text-danger mr-1">*</b>자세한 현황 로그를 보시려면 해당 목록을 클릭하세요.
				</span>
			</div>
			<div class="card-body bg-nv rounded-bottom">
				<div class="table-responsive">
					<table class="table display nowrap text-secondary" id="tables" width="100%" cellspacing="0">
						<thead>
							<tr class="bg-nv text-white">
								<td>번호</td>
								<td>PROJECT</td>
								<td>설명</td>
								<td>정적 라이선스</td>
								<td>동적 라이선스</td>
								<td>시간제한 라이선스</td>
								<td>세션타임</td>
								<td>활성화</td>
								<td>등록 일자</td>
							</tr>
						</thead>
						<tbody>
							<tr th:each="zone, seq : ${zoneList}" style="cursor: pointer" th:attr="onclick=|goToZoneUpdatePage('${zone?.getZone_no()}')|">
								<td th:text="${seq.count}"></td>
								<td th:text="${zone?.getZone_name()}"></td>
								<td th:text="${zone?.getZone_info()}"></td>
								<td th:text="${zone?.getPl_license_cnt()}"></td>
								<td th:text="${zone?.getTpl_license_cnt()}"></td>
								<td th:text="${zone?.getAllowed_cnt()}"></td>
								<td th:text="${zone?.getSession_time()}"></td>
								<td th:text="${zone?.getExist()}"></td>
								<td th:text="${zone?.getRegisted_date()}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<th:block th:include="thymeleaf/include/footer"></th:block>
	<script type="text/javascript" src="/js/zone/history.js"></script>
	<script type="text/javascript" src="/js/chart/cancel.js"></script>
	<script src="/js/include/tables.js"></script>
</body>