<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>TACO</title>
</head>
<body>
	<th:block th:include="thymeleaf/include/header"></th:block>
	<!-- Content Wrapper -->
	<div id="content-wrapper" class="d-flex flex-column">

		<!-- Main Content -->
		<div id="content">
			<!-- Begin Page Content -->
			<div class="container-fluid">
				<!-- Page Heading -->
				<h1 class="h3 mb-2 text-gray-800">ZONE 허용 IP 등록</h1>
				<p class="mb-4">ZONE IP를 등록할 수 있습니다</p>

				<!-- DataTales Example -->
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">ZONE 허용 IP 등록</h6>
					</div>
					<div class="card-body">
						<form>
							<div class="form-group row">
								<label for="z_name" class="col-sm-2 col-form-label">ZONE 이름 </label>
								<div class="col-sm-3">
									<input type="text" name="zone_name" class="form-control" id="z_name" value="" readonly>
								</div>
								<div class="col-sm-2">
									<select id="zoneListBox" name='zone_list' class="form-control">
										<option value='default' selected>-- 선택 --</option>
										<div th:each="zone : ${zoneList}">
											<option th:value="${zone?.getZone_no()}" th:text="${zone?.getZone_name()}"></option>
										</div>
									</select>
								</div>
								
							</div>
							<div class="form-group row">
								<label for="z_taa_ip" class="col-sm-2 col-form-label">TAAgent IP</label>
								<div class="col-sm-5">
									<input type="text" name="taa_ip" class="form-control" id="z_taa_ip" placeholder="10.10.10.X">
								</div>
							</div>
							<div class="form-group row">
								<label for="z_license" class="col-sm-2 col-form-label">라이선스 타입</label>
								<div class="col-sm-5">
									<select name="license_type" class="form-control">
										<!-- <option th:each="code : ${codeList}" th:value="${code?.getLicense_type()}" th:utext="${code?.getLicense_value()}"></option>  -->
										<option th:each="code : ${codeList}" th:if="${code?.getLicense_type() < 3}" th:value="${code?.getLicense_type()}" th:utext="${code?.getLicense_value()}"></option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-10">
									<input type="button" class="btn btn-primary" value="등록" id="enrollBtn"> 
									<input type="button" id="back" class="btn btn-light" value="취소" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/js/zone/licenseInfo.js"></script>
	<script type="text/javascript" src="/js/zone/license.js"></script>
	<script type="text/javascript" src="/js/leejs/cancel.js"></script>

	<th:block th:include="thymeleaf/include/footer"></th:block>
</body>
</html>