<body>
	<th:block th:include="thymeleaf/include/header"></th:block>
	<div class="container-fluid full-height">
		<h1 class="h3 mb-2 text-secondary">
			PROJECT 관리<i class="fas fa-chevron-right mr-2 ml-2"></i> <b class="text-white">PROJECT 등록</b>
		</h1>
		<p class="mb-4">PROJECT 등록을 수행할 수 있습니다</p>
		<div class="card shadow mb-4 bg-nv">
			<div class="card-header py-3 bg-nv">
				<div class="row">
					<div class="col-xl-2">
						<span class="m-0 font-weight-bold text-white">PROJECT 등록</span>
					</div>
					<div class="col-xl-4">
						<span><b class="text-danger mr-1">*</b>표시는 필수항목입니다. </span>
					</div>
				</div>
			</div>
			<div class="card-body bg-nv rounded-bottom">
				<div class="form-group row">
					<label for="z_name" class="col-xl-2 col-form-label text-white"><b class="text-danger mr-1">*</b>PROJECT명</label>
					<div class="col-xl-4">
						<input type="text" name="zone_name" class="form-control" id="z_name" placeholder="영문자만 입력, 한글/특수문자/공백 금지" data-toggle="tooltip" data-placement="top" title="예시 ) Group_Project01">
					</div>
					<div class="col-xl-5">
						<input type="button" value="중복검사" class="btn btn-primary" id="checkBtn"> <br />
					</div>
				</div>

				<div class="form-group row" hidden="hidden">
					<label for="z_reno" class="col-xl-2 col-form-label text-white" hidden="hidden">개정 번호</label>
					<div class="col-xl-5" hidden="hidden">
						<input type="text" name="revision_no" class="form-control" id="z_reno" th:value="${zoneInfo?.getRevision_no()}" disabled="disabled" readonly>
					</div>
				</div>

				<div class="form-group row">
					<label for="z_info" class="col-xl-2 col-form-label text-white"><b class="text-danger mr-1">*</b>설명</label>
					<div class="col-xl-5">
						<input type="text" name="zone_info" class="form-control" id="z_info" placeholder="예시 ) PKI업무, FM업무 ">
					</div>
				</div>
				<div class="form-group row">
					<label for="z_sessionTime" class="col-xl-2 col-form-label text-white"><b class="text-danger mr-1">*</b> 세션 타임 &nbsp; <b>( /분 )</b></label>
					<div class="col-xl-5">
						<select name="session_time" class="form-control" disabled="disabled">
							<option th:each=" num : ${#numbers.sequence(1,20)} " th:value="${num*5}" th:utext="${num*5}"></option>
							<option value="10" selected="selected" hidden="">10</option>
						</select>
					</div>
					<a href="#" class="help text-white">
						<i class="far fa-question-circle"></i><span class="help-class">Agent의 세션 시간</span>
					</a>
				</div>
				<div class="form-group row">
					<div class="col-xl-12">
						<input type="button" class="btn btn-primary" value="등록" id="enrollBtn"> <input type="button" class="btn btn-dark" value="취소" onclick="back();" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:include="thymeleaf/include/footer"></th:block>

	<script type="text/javascript" src="/js/zone/zoneInfo.js"></script>
	<script type="text/javascript" src="/js/zone/zone.js"></script>
	<script type="text/javascript" src="/js/chart/cancel.js"></script>
</body>