/*  header  */
a.active-color: {
	color: red;
}
/*  */

/* zone popover icon */
a.help:hover {
	cursor: help;
	position: relative
}

a.help span {
	display: none
}

a.help:hover span {
	display: block;
	z-index: 100;
	margin-left: 5%;
	left: 0px;
	margin: 10px;
	width: 400px;
	position: absolute;
	top: 10px;
	text-decoration: none
}

/* tam important icon */
.fas.fa-star-of-life {
	color: red;
}

/* zone - tam matching css */
.fas.fa-arrows-alt-h {
	margin: 3px;
	margin-top: 1.3em;
	font-size: 6em;
	color: #2E59D9;
	font-size: 6em;
	margin-top: 1.3em;
}

.card.match {
	width: 15.3em;
}

#now_stat {
	color: red;
	font-weight: 700;
}

.row.matching {
	margin: 2%;
	justify-content: center;
	position: relative;
	top: 5%;
}

.col.all {
	max-width: 17%;
}

.col.arrow {
	text-align: center;
	max-width: 16%;
}

.card-header-name {
	text-align: center;
}

.ztm {
	font-family: emoji;
}

.col.enroll {
	max-width: 26%;
}

.match_title {
	color: #4e73df
}

.matchbox {
	position: absolute;
	top: 30%;
	left: 42%;
	border: 1px solid #ccc;
}

.T_table {
	width: 12.5em;
	border: 1px solid #e3e6f0;
}

.card-header {
	border-bottom: 1px solid #ccc;
}

/*  Logout Modal*/
.modal-header.logout {
	border-bottom: none;
}

.modal-footer.logout {
	border-top: none;
}

.modal-content {
	width: 98%;
}

/* tamanager - zone matching btn align */
.card-footer.text-muted {
	text-align: center;
}
/*  */
/* main login page  */
.container.main_box {
	margin-top: 11em;
}

.card.o-hidden {
	border-radius: 1.5em;
}

.h3.mb-4 {
	text-align: center;
	font-family: fantasy;
	font-size: 2.5em;
	color: #476DDA;
	/* 	background: -webkit-linear-gradient(60deg, white, blue); */
	/* 	color: transparent; */
	/* 	-webkit-background-clip: text; */
}

/*  */
.btn.btn-primary.match {
	margin: 1em;
	float: right;
}

.match.btn_group {
	margin: 1em;
	text-align: right;
}
/*  */

/* ZHBtn */
.ZHBtn {
	text-align: center;
}


/* 라이선스 요청 정보 modal_input outline none  */
.modal_input:focus {outline:none;}
.modal_input {
	border : 3px solid red;
}

/*  */
